--extra-index-url https://download.pytorch.org/whl/cu130

einops @ git+https://github.com/arogozhnikov/einops.git@6181e1e95dc58c00a3143c1726da1c6ee0463164
matplotlib>=3.9.2
numpy>=1.26.4
pillow>=10.2.0
torch==2.5.1+cu130
torchvision==0.20.1+cu130
